---
import LicensesReport from '@julian_cataldo/astro-licenses-report/LicensesReport.astro';
// ...
---

<body>
    <!-- Place component inside `BODY` tag -->
  
    <!-- All properties are optional -->
    <LicensesReport
      useDev={true}
      depth={2}
      nameText={'Packages used in the creation of this blog'}
      authorText={'Aleksander Jess'}
      licenseText={'https://www.gnu.org/licenses/agpl-3.0.en.html'}
      linkText={'https://www.gnu.org/licenses/agpl-3.0.en.html'}
    />
  
  </body>