---
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import { Spa } from 'astro-spa'

const { title, description } = Astro.props
---

<html lang="en">

<head>
    <BaseHead title={title} description={description} />
</head>

<body>
    <Header />
    <main>
        <slot />
    </main>
    <Spa />
</body>


</html>